hrp2/target/ev3_gcc/drivers/fatfs/starterware_c6748_mmcsd/*.ccsproject text eol=crlf
hrp2/target/ev3_gcc/drivers/fatfs/starterware_c6748_mmcsd/*.cproject text eol=crlf
hrp2/target/ev3_gcc/drivers/fatfs/starterware_c6748_mmcsd/*.project text eol=crlf
*.srec binary
*.eap binary
*.a binary